@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Silkscreen:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    font-family: system-ui, arial;
    font-weight: 400;
}

#infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: original surfer, system-ui, arial;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn {
    font-size: 20px;
    margin-bottom: 20px;
}

#chances-section {
    display: flex;
    font-size: 20px;
    margin-bottom: 15px;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 106.25px);
    grid-gap: 15px;
    margin-bottom: 35px;
}

.sqr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 106.25px;
    border-radius: 8px;
    background-color:cornflowerblue;
    text-align: right, bottom;
    font-size: 35px;
  }

  .sqr:hover {
    background-color:lightgreen;
  }

  /* .active {
    cursor: none
  } */